@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

article {
    @apply leading-7;
}

article h1, article h2, article h3, article h4 {
    @apply mt-10;
}

article > * {
    @apply my-6 max-w-full overflow-x-auto;
}

h1 {
    @apply text-3xl font-medium;
}

h2 {
    @apply text-2xl font-medium;
}

h3 {
    @apply text-xl font-medium;
}

h4 {
    @apply text-lg font-medium;
}

article img {
    display: block;
    margin: 1rem auto;
}
article blockquote {
    background-color: var(--color-slate-100);
    color: var(--color-slate-600);
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    border-radius: 10px;
    font-style: italic;
}
article ul {
    list-style: disc;
}
article ol {
    list-style: decimal;
}
article ul, ol {
    @apply my-6;
    padding-inline-start: 40px;
}
article li {
    display: list-item;
}
a {
    color: var(--color-cyan-600)
}
a:hover {
    text-decoration: underline;
}
pre {
    font-size: small;
    padding: 0.5rem;
}

.highlight > div, pre {
    @apply rounded-md;
}

table {
    @apply my-6 border-collapse text-sm;
}
td, th {
    @apply px-2 py-2 border border-slate-200;
}

th {
    @apply bg-slate-100;
}

code:not(.highlight code) {
    @apply bg-slate-200 py-[0.1rem] px-2 rounded-md text-sm;
}